{% extends 'layouts/base.twig' %}

{% block headers %}
	<script src="/js/form.js" defer></script>
{% endblock %}

{% block nav %}	
{% endblock %}

{% block content %}
    <div class="form">
		<center><h1>Login</h1></center>

		<form
			{% if not is_admin_login %}
				action="{{ route({'name':'signin'}) }}"
			{% else %}
				action="{{ route({'name':'admin-signin'}) }}"
			{% endif %}
			method="POST">
		    <div class="form_grid">
			    <div class="form_option">
			        <label for="email"><b>Email</b></label>
			        <input type="text" placeholder="Enter Email" name="email" required="" value=""
					{% if errors %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
					>
                    {% endif %} 
			    </div>

			    <div class="form_option">
			        <i class="fa-regular fa-eye show_pass" id="show_pass"></i>
			        <label for="password"><b>Password</b></label>
			        <input type="password" placeholder="Enter Password" name="password" required="" value=""
					{% if errors %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
					>
                    {% endif %} 
                </div>

			    <div class="form_option">
			        <button type="submit" style="font-size: 17px; font-weight: bold;">Sign In</button>
			    </div>
			</div>
	    </form>

		{% if message %}
			<div class="form_message">
				<p>{{ message.0 }}</p>
			</div>
        {% endif %}
    </div>

	{% if not is_admin_login %}
		<div class="form">
			<a class="color_form" href="{{ route({'name': 'signup'}) }}">New on Test Shop? Sign Up</a>
		</div>
	{% endif %}
	
{% endblock %}
