{% extends 'admin/index.twig' %}

{% block headers %}
    {{ parent() }}
    <script src="/js/form.js" defer></script>
{% endblock %}

{% block content %}
    <div class="form">
		<center><h1>Create New User</h1></center>

		<form method="POST" action="{{ route({'name': 'users-store'}) }}">
		    <div class="form_grid">
			    <div class="form_option">
			        <label for="user_name"><b>Username</b></label>
		            <input type="text" placeholder="Enter Username" name="username" required="" value="{{ data.0.username }}"
					{% if errors.0.username %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.username %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %} 
			    </div>
			                
			    <div class="form_option">
			        <label for="email"><b>Email</b></label>
			        <input type="text" placeholder="Enter Email" name="email" required="" value="{{ data.0.email }}"
					{% if errors.0.email %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.email %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %} 
			    </div>

			    <div class="form_option">
			        <i class="fa-regular fa-eye show_pass" id="show_pass"></i>
			        <label for="password"><b>Password</b></label>
			        <input type="password" placeholder="Enter Password" name="password" required="" value="{{ data.0.password }}"
					{% if errors.0.password %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.password %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %} 
			    </div>

			    <div class="form_option">
			        <i class="fa-regular fa-eye show_pass" id="show_conf_pass"></i>
			        <label for="uname"><b>Confirm Password</b></label>
			        <input type="password" placeholder="Enter Confirm Password" name="confirm_password" required="" value="{{ data.0.confirm_password }}"
					{% if errors.0.confirm_password %}
                        style="background-color: #ffdada; border: 2px solid red;">
                        <div class="form_option_error">
                            {% for error in errors.0.confirm_password %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                    >
                    {% endif %} 
			    </div>

    		    <div class="form_option">
    		        <button type="submit" style="font-size: 17px; font-weight: bold;">Create</button>
    		    </div>
    		</div>
        </form>
    </div>
{% endblock %}